
/* modal */
.modalUser {
  position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #fafafa;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 100;
   // animation: fadeInUser 0.4s linear ;
}

.modalUser_content {
   width: 500px;
   max-width: calc(100% - 16px);
   min-height: 200px;
   position: relative;
   border-radius: 5px;
   animation: modalFaceInUser 0.5s ease ;
   background-color: #eeeeee;
 box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.modalUser_inner {
   margin: 16px;
}

.modalUser-close {
   position: absolute;
   top: 0;
   right: 0;
   padding: 16px;
   cursor: pointer;
   opacity: 0.8;
   color: var( --black-user-color);
   z-index: 10;
}

.modalUser-close>ion-icon {
   font-size: 3rem;
   font-weight: bold;
   &:hover {
      transform: translateX(2px);
      animation: all 0.3s ease;
      color: var(--plus-user-color);

   }
}



.modalUser-header {
   position: relative;
}

.modalUser-imgs {
   padding-top: 45%;
   background-image: url(/vperfume/slide/6.webp);
   background-repeat: no-repeat;
   background-position: top center;
   background-size: cover;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}

.modalUser-head,
.modalUser-head-register {
   font-size: 2.5rem;
   font-weight: bold;
   display: inline-block;
   line-height: 1.6;
   background: linear-gradient(to right, var(--btn-gradient-from), var( --btn-gradient-to));
   -webkit-background-clip: text;
   color: transparent;
   padding: 20px 0 4px 0;
}


.modalUser-head-group {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.modalUser-head-login {
   font-size: 2rem;
   font-weight: bold;
   display: inline-block;
   line-height: 1.6;
   background: linear-gradient(to right, #e1516d, #d00448);
   -webkit-background-clip: text;
   color: transparent;
   padding: 20px 0 4px 0;
}
.modalUser-head-login:hover {
   cursor: pointer;
   transform: translateX(-2px);
   transition: all 0.3s ease;
   opacity: 0.8;
}

.modalUser-label{
   display: block;
   font-size: 1.4rem;
   font-weight: 400;
   color: var(--text-user-color);
   margin-bottom: 6px;
}

.modalUser-input{
   border: 1px solid #c0b8b8;
   width: 100%;
   padding: 7px;
   font-size: 1.4rem;
   margin-bottom: 20px;
   outline: none;
   box-shadow: 0 0.5px 2px rgba(96,97,112,.36);
   border-radius: 4px;
}

.modalUser-group {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.modalUser-group-label {
   position: relative;
   display: block;
   width: 100%;
}

.modalUser-group-label:first-child{
   margin-right: 16px ;
}


.modalUser_policy-text {
   font-size: 1.3rem;
   line-height: 1.8rem;
   text-align: center;
   padding: 0 10px;
}

.modalUser_text-link {
   font-weight: 500;
   text-decoration: none;
   color: #2e90fa;
}

.modalUser_text-link:hover {
   color: #7db4ef;
}

.modalUser_controls {
   margin-top: 20px;
   display:flex;
   justify-content: flex-end;
}

.btn--sucsies {
   min-width: 180px;
   border-radius: 5px;
   border: 1px solid #cbd5e1;
   font-weight: 600;
   background-color: #edf1f5;
   color: #a6b3c2;
}

.modalUser_help {
   display: flex;
   justify-content: flex-end;
}

.modalUser_help-link {
   text-decoration: none;
   font-size: 1.4rem;
   color: #939393;
   font-weight: 500;
   line-height: 1.6;
}

.modalUser_help-separate{
   display: block;
   border-left: 1px solid #868585;
   margin: -1px 12px 0;
   height: 20px;

}
.modalUser_help-forgot {
   color: var( --plus-user-color);
}

.modalUser_help-forgot:hover {
   color: var( --plus-user-color);
   opacity: 0.9;
}

.btn_user-register {
   min-width: 140px;
   color: #21255f;
   border-radius: 5px;
   font-weight: 600;
   background-color: #edf1f5;
   margin-right: 15px;
   padding: 0 20px;
   height: 38px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.4rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.btn_user-register:hover {
   color: #212529;
   background-color: #e2e6ea;
   border-color: #dae0e5;
}

.btn_user-login  {
   min-width: 180px;
   height: 38px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.4rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
   background-color: var(--btn-gradient-from) ;
   color: #eaeaea;
   border-radius: 5px;
   font-weight: 600;
}

.btn_user-login:hover{
   background-color: var(--btn-gradient-from) ;
   opacity: 0.8;
   cursor: pointer;
}
